body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1467px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4846 {
  position:absolute;
  left:134px;
  top:1298px;
  width:375px;
  height:667px;
}
#u4847 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:747px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4848 {
  position:absolute;
  left:207px;
  top:318px;
  width:375px;
  height:747px;
}
#u4849 {
  position:absolute;
  left:2px;
  top:366px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u4850 {
  position:absolute;
  left:230px;
  top:348px;
  width:26px;
  height:25px;
}
#u4851 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4852 {
  position:absolute;
  left:307px;
  top:348px;
  width:175px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u4853 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u4854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4854 {
  position:absolute;
  left:239px;
  top:410px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4855 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4856 {
  position:absolute;
  left:359px;
  top:410px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4857 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4858 {
  position:absolute;
  left:479px;
  top:410px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4859 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4860_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:89px;
  height:9px;
}
#u4860 {
  position:absolute;
  left:472px;
  top:437px;
  width:84px;
  height:4px;
  color:#00CC00;
}
#u4861 {
  position:absolute;
  left:2px;
  top:-6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4862 {
  position:absolute;
  left:237px;
  top:498px;
  width:300px;
  height:51px;
}
#u4863 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4864 {
  position:absolute;
  left:230px;
  top:601px;
  width:245px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4865 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4867 {
  position:absolute;
  left:270px;
  top:724px;
  width:302px;
  height:64px;
}
#u4868 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4869 {
  position:absolute;
  left:273px;
  top:725px;
  width:43px;
  height:17px;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4871 {
  position:absolute;
  left:278px;
  top:747px;
  width:102px;
  height:17px;
}
#u4872 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4873 {
  position:absolute;
  left:273px;
  top:771px;
  width:45px;
  height:17px;
}
#u4874 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4875 {
  position:absolute;
  left:357px;
  top:768px;
  width:79px;
  height:17px;
}
#u4876 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4877 {
  position:absolute;
  left:218px;
  top:736px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4878 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u4879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4879 {
  position:absolute;
  left:483px;
  top:742px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4882 {
  position:absolute;
  left:270px;
  top:650px;
  width:302px;
  height:64px;
}
#u4883 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4884 {
  position:absolute;
  left:273px;
  top:651px;
  width:43px;
  height:17px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4886 {
  position:absolute;
  left:278px;
  top:673px;
  width:102px;
  height:17px;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4888 {
  position:absolute;
  left:273px;
  top:697px;
  width:45px;
  height:17px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4890 {
  position:absolute;
  left:357px;
  top:694px;
  width:79px;
  height:17px;
}
#u4891 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4892 {
  position:absolute;
  left:218px;
  top:662px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4893 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u4894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4894 {
  position:absolute;
  left:483px;
  top:668px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4897 {
  position:absolute;
  left:270px;
  top:798px;
  width:302px;
  height:64px;
}
#u4898 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4899 {
  position:absolute;
  left:273px;
  top:799px;
  width:43px;
  height:17px;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4901 {
  position:absolute;
  left:278px;
  top:821px;
  width:102px;
  height:17px;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4903 {
  position:absolute;
  left:273px;
  top:845px;
  width:45px;
  height:17px;
}
#u4904 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4905 {
  position:absolute;
  left:357px;
  top:842px;
  width:79px;
  height:17px;
}
#u4906 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4907 {
  position:absolute;
  left:218px;
  top:810px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4908 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u4909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4909 {
  position:absolute;
  left:483px;
  top:816px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4910 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4912 {
  position:absolute;
  left:270px;
  top:872px;
  width:302px;
  height:64px;
}
#u4913 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4914 {
  position:absolute;
  left:273px;
  top:873px;
  width:43px;
  height:17px;
}
#u4915 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4916 {
  position:absolute;
  left:278px;
  top:895px;
  width:102px;
  height:17px;
}
#u4917 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4918 {
  position:absolute;
  left:273px;
  top:919px;
  width:45px;
  height:17px;
}
#u4919 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4920 {
  position:absolute;
  left:357px;
  top:916px;
  width:79px;
  height:17px;
}
#u4921 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4922 {
  position:absolute;
  left:218px;
  top:884px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4923 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4924 {
  position:absolute;
  left:483px;
  top:890px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4925 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4927 {
  position:absolute;
  left:270px;
  top:946px;
  width:302px;
  height:64px;
}
#u4928 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4929 {
  position:absolute;
  left:273px;
  top:947px;
  width:43px;
  height:17px;
}
#u4930 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4931 {
  position:absolute;
  left:278px;
  top:969px;
  width:102px;
  height:17px;
}
#u4932 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4933 {
  position:absolute;
  left:273px;
  top:993px;
  width:45px;
  height:17px;
}
#u4934 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4935 {
  position:absolute;
  left:357px;
  top:990px;
  width:79px;
  height:17px;
}
#u4936 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4937 {
  position:absolute;
  left:218px;
  top:958px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4938 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u4939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4939 {
  position:absolute;
  left:483px;
  top:964px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4940 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4941 {
  position:absolute;
  left:82px;
  top:270px;
  width:129px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4942 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4943 {
  position:absolute;
  left:82px;
  top:1201px;
  width:129px;
  height:38px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4944 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u4945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4945 {
  position:absolute;
  left:416px;
  top:1911px;
  width:135px;
  height:54px;
}
#u4946 {
  position:absolute;
  left:2px;
  top:15px;
  width:131px;
  word-wrap:break-word;
}
#u4947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u4947 {
  position:absolute;
  left:625px;
  top:683px;
  width:336px;
  height:336px;
  font-size:20px;
  text-align:left;
}
#u4948 {
  position:absolute;
  left:2px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u4949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4949 {
  position:absolute;
  left:695px;
  top:1288px;
  width:375px;
  height:635px;
}
#u4950 {
  position:absolute;
  left:2px;
  top:310px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u4951 {
  position:absolute;
  left:718px;
  top:1313px;
  width:26px;
  height:25px;
}
#u4952 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4953 {
  position:absolute;
  left:842px;
  top:1316px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u4954 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4955 {
  position:absolute;
  left:718px;
  top:1459px;
  width:245px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u4956 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u4957 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4958 {
  position:absolute;
  left:758px;
  top:1582px;
  width:302px;
  height:64px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4960 {
  position:absolute;
  left:761px;
  top:1583px;
  width:43px;
  height:17px;
}
#u4961 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4962 {
  position:absolute;
  left:766px;
  top:1605px;
  width:102px;
  height:17px;
}
#u4963 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4964 {
  position:absolute;
  left:761px;
  top:1629px;
  width:45px;
  height:17px;
}
#u4965 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4966 {
  position:absolute;
  left:845px;
  top:1626px;
  width:79px;
  height:17px;
}
#u4967 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4968 {
  position:absolute;
  left:706px;
  top:1594px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4969 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u4970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4970 {
  position:absolute;
  left:971px;
  top:1600px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4971 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4973 {
  position:absolute;
  left:758px;
  top:1508px;
  width:302px;
  height:64px;
}
#u4974 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4975 {
  position:absolute;
  left:761px;
  top:1509px;
  width:43px;
  height:17px;
}
#u4976 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4977 {
  position:absolute;
  left:766px;
  top:1531px;
  width:102px;
  height:17px;
}
#u4978 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4979 {
  position:absolute;
  left:761px;
  top:1555px;
  width:45px;
  height:17px;
}
#u4980 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4981 {
  position:absolute;
  left:845px;
  top:1552px;
  width:79px;
  height:17px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4983 {
  position:absolute;
  left:706px;
  top:1520px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4984 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u4985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4985 {
  position:absolute;
  left:971px;
  top:1526px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u4986 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4987 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4988 {
  position:absolute;
  left:758px;
  top:1656px;
  width:302px;
  height:64px;
}
#u4989 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4990 {
  position:absolute;
  left:761px;
  top:1657px;
  width:43px;
  height:17px;
}
#u4991 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4992 {
  position:absolute;
  left:766px;
  top:1679px;
  width:102px;
  height:17px;
}
#u4993 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u4994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4994 {
  position:absolute;
  left:761px;
  top:1703px;
  width:45px;
  height:17px;
}
#u4995 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u4996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4996 {
  position:absolute;
  left:845px;
  top:1700px;
  width:79px;
  height:17px;
}
#u4997 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u4998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4998 {
  position:absolute;
  left:706px;
  top:1668px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u4999 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u5000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5000 {
  position:absolute;
  left:971px;
  top:1674px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5001 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5002 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5003 {
  position:absolute;
  left:758px;
  top:1730px;
  width:302px;
  height:64px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5005 {
  position:absolute;
  left:761px;
  top:1731px;
  width:43px;
  height:17px;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5007 {
  position:absolute;
  left:766px;
  top:1753px;
  width:102px;
  height:17px;
}
#u5008 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5009 {
  position:absolute;
  left:761px;
  top:1777px;
  width:45px;
  height:17px;
}
#u5010 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5011 {
  position:absolute;
  left:845px;
  top:1774px;
  width:79px;
  height:17px;
}
#u5012 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5013 {
  position:absolute;
  left:706px;
  top:1742px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u5014 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5015 {
  position:absolute;
  left:971px;
  top:1748px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5016 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5017 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5018 {
  position:absolute;
  left:758px;
  top:1804px;
  width:302px;
  height:64px;
}
#u5019 {
  position:absolute;
  left:2px;
  top:24px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5020 {
  position:absolute;
  left:761px;
  top:1805px;
  width:43px;
  height:17px;
}
#u5021 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5022 {
  position:absolute;
  left:766px;
  top:1827px;
  width:102px;
  height:17px;
}
#u5023 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  word-wrap:break-word;
}
#u5024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5024 {
  position:absolute;
  left:761px;
  top:1851px;
  width:45px;
  height:17px;
}
#u5025 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u5026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5026 {
  position:absolute;
  left:845px;
  top:1848px;
  width:79px;
  height:17px;
}
#u5027 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u5028 {
  position:absolute;
  left:706px;
  top:1816px;
  width:41px;
  height:40px;
  font-size:16px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:10px;
  width:37px;
  word-wrap:break-word;
}
#u5030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5030 {
  position:absolute;
  left:971px;
  top:1822px;
  width:57px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u5031 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
}
#u5032 {
  position:absolute;
  left:447px;
  top:1893px;
  width:90px;
  height:90px;
}
#u5033 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5034 {
  position:absolute;
  left:625px;
  top:453px;
  width:336px;
  height:170px;
  font-size:20px;
}
#u5035 {
  position:absolute;
  left:2px;
  top:25px;
  width:332px;
  word-wrap:break-word;
}
#u5036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5036 {
  position:absolute;
  left:1131px;
  top:1311px;
  width:336px;
  height:170px;
  font-size:20px;
}
#u5037 {
  position:absolute;
  left:2px;
  top:25px;
  width:332px;
  word-wrap:break-word;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5038 {
  position:absolute;
  left:735px;
  top:1383px;
  width:300px;
  height:51px;
}
#u5039 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1047px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u5040 {
  position:absolute;
  left:126px;
  top:35px;
  width:1047px;
  height:170px;
  font-size:20px;
  text-align:left;
}
#u5041 {
  position:absolute;
  left:2px;
  top:2px;
  width:1043px;
  word-wrap:break-word;
}
#u5042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:336px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:left;
}
#u5042 {
  position:absolute;
  left:1131px;
  top:1552px;
  width:336px;
  height:336px;
  font-size:20px;
  text-align:left;
}
#u5043 {
  position:absolute;
  left:2px;
  top:0px;
  width:332px;
  word-wrap:break-word;
}
#u5044_img {
  position:absolute;
  left:-1px;
  top:-11px;
  width:257px;
  height:25px;
}
#u5044p000 {
  position:absolute;
  left:-3px;
  top:-2px;
  width:250px;
  height:6px;
  -webkit-transform:rotate(-45deg);
  -moz-transform:rotate(-45deg);
  -ms-transform:rotate(-45deg);
  transform:rotate(-45deg);
}
#u5044p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:6px;
}
#u5044p001 {
  position:absolute;
  left:191px;
  top:-94px;
  width:26px;
  height:26px;
}
#u5044p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u5044.compound {
  width:0px;
  height:0px;
}
#u5044 {
  position:absolute;
  left:481px;
  top:1814px;
  width:245px;
  height:3px;
}
#u5045 {
  position:absolute;
  left:2px;
  top:-6px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:635px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5046 {
  position:absolute;
  left:134px;
  top:2047px;
  width:375px;
  height:635px;
}
#u5047 {
  position:absolute;
  left:2px;
  top:310px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u5048 {
  position:absolute;
  left:157px;
  top:2072px;
  width:26px;
  height:25px;
}
#u5049 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5050 {
  position:absolute;
  left:281px;
  top:2075px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5051 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5052 {
  position:absolute;
  left:174px;
  top:2142px;
  width:300px;
  height:51px;
  font-size:18px;
}
#u5053 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5054 {
  position:absolute;
  left:151px;
  top:2341px;
  width:333px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u5055 {
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  white-space:nowrap;
}
