body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1877px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u749_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:290px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u749 {
  position:absolute;
  left:460px;
  top:483px;
  width:404px;
  height:290px;
  font-size:18px;
}
#u750 {
  position:absolute;
  left:2px;
  top:13px;
  width:400px;
  word-wrap:break-word;
}
#u751_div {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u751 {
  position:absolute;
  left:1352px;
  top:259px;
  width:525px;
  height:196px;
  font-size:18px;
  color:#0000FF;
}
#u752 {
  position:absolute;
  left:2px;
  top:2px;
  width:521px;
  word-wrap:break-word;
}
#u753_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u753 {
  position:absolute;
  left:1413px;
  top:1019px;
  width:375px;
  height:36px;
  font-size:18px;
  color:#0000FF;
}
#u754 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:153px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u755 {
  position:absolute;
  left:460px;
  top:117px;
  width:404px;
  height:153px;
  font-size:18px;
}
#u756 {
  position:absolute;
  left:2px;
  top:2px;
  width:400px;
  word-wrap:break-word;
}
#u757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u757 {
  position:absolute;
  left:1371px;
  top:135px;
  width:375px;
  height:36px;
  font-size:18px;
  color:#0000FF;
}
#u758 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  word-wrap:break-word;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:594px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u760 {
  position:absolute;
  left:50px;
  top:947px;
  width:375px;
  height:594px;
}
#u761 {
  position:absolute;
  left:2px;
  top:289px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u762_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u762 {
  position:absolute;
  left:196px;
  top:970px;
  width:81px;
  height:24px;
  font-size:20px;
}
#u763 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u764 {
  position:absolute;
  left:57px;
  top:970px;
  width:26px;
  height:21px;
}
#u765 {
  position:absolute;
  left:2px;
  top:2px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u766_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u766 {
  position:absolute;
  left:57px;
  top:1105px;
  width:81px;
  height:23px;
}
#u767 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:57px;
  top:1158px;
  width:81px;
  height:23px;
}
#u769 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:57px;
  top:1203px;
  width:81px;
  height:23px;
}
#u771 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  position:absolute;
  left:341px;
  top:1105px;
  width:81px;
  height:23px;
}
#u773 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:339px;
  top:1262px;
  width:81px;
  height:23px;
}
#u775 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u776_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u776 {
  position:absolute;
  left:339px;
  top:1295px;
  width:81px;
  height:23px;
}
#u777 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  position:absolute;
  left:247px;
  top:1105px;
  width:81px;
  height:23px;
}
#u779 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  position:absolute;
  left:247px;
  top:1158px;
  width:81px;
  height:23px;
}
#u781 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  position:absolute;
  left:248px;
  top:1262px;
  width:81px;
  height:23px;
}
#u783 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u784 {
  position:absolute;
  left:151px;
  top:1105px;
  width:81px;
  height:23px;
}
#u785 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  position:absolute;
  left:151px;
  top:1158px;
  width:81px;
  height:23px;
}
#u787 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u788 {
  position:absolute;
  left:158px;
  top:1262px;
  width:80px;
  height:23px;
}
#u789 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u790 {
  position:absolute;
  left:50px;
  top:1072px;
  width:375px;
  height:1px;
}
#u791 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#AEAEAE;
}
#u792 {
  position:absolute;
  left:70px;
  top:1005px;
  width:29px;
  height:17px;
  color:#AEAEAE;
}
#u793 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u794_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u794 {
  position:absolute;
  left:57px;
  top:1262px;
  width:81px;
  height:23px;
}
#u795 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u796_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u796 {
  position:absolute;
  left:158px;
  top:1295px;
  width:80px;
  height:23px;
}
#u797 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u798_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u798 {
  position:absolute;
  left:248px;
  top:1295px;
  width:81px;
  height:23px;
}
#u799 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u800 {
  position:absolute;
  left:50px;
  top:1000px;
  width:375px;
  height:1px;
}
#u801 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u802 {
  position:absolute;
  left:57px;
  top:1032px;
  width:81px;
  height:23px;
}
#u803 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u804_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u804 {
  position:absolute;
  left:148px;
  top:1032px;
  width:81px;
  height:23px;
}
#u805 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:239px;
  top:1032px;
  width:81px;
  height:23px;
}
#u807 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:57px;
  top:1295px;
  width:81px;
  height:23px;
}
#u809 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:57px;
  top:1340px;
  width:81px;
  height:23px;
}
#u811 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  position:absolute;
  left:341px;
  top:1340px;
  width:81px;
  height:23px;
}
#u813 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  position:absolute;
  left:247px;
  top:1340px;
  width:81px;
  height:23px;
}
#u815 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:149px;
  top:1340px;
  width:80px;
  height:23px;
}
#u817 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:57px;
  top:1381px;
  width:81px;
  height:23px;
}
#u819 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  position:absolute;
  left:149px;
  top:1381px;
  width:80px;
  height:23px;
}
#u821 {
  position:absolute;
  left:2px;
  top:4px;
  width:76px;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:247px;
  top:1381px;
  width:81px;
  height:23px;
}
#u823 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  position:absolute;
  left:338px;
  top:1158px;
  width:81px;
  height:23px;
}
#u825 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u826 {
  position:absolute;
  left:242px;
  top:1158px;
  width:81px;
  height:23px;
}
#u827 {
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:155px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u828 {
  position:absolute;
  left:25px;
  top:1085px;
  width:424px;
  height:155px;
  color:#FF0000;
}
#u829 {
  position:absolute;
  left:2px;
  top:70px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:89px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#0000FF;
}
#u830 {
  position:absolute;
  left:495px;
  top:1122px;
  width:375px;
  height:89px;
  font-size:18px;
  color:#0000FF;
}
#u831 {
  position:absolute;
  left:2px;
  top:22px;
  width:371px;
  word-wrap:break-word;
}
#u832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:188px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u832 {
  position:absolute;
  left:0px;
  top:1250px;
  width:448px;
  height:188px;
  color:#FF0000;
}
#u833 {
  position:absolute;
  left:2px;
  top:86px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:120px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u834 {
  position:absolute;
  left:495px;
  top:1284px;
  width:375px;
  height:120px;
  font-size:18px;
}
#u835 {
  position:absolute;
  left:2px;
  top:27px;
  width:371px;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:61px;
  height:31px;
}
#u836 {
  position:absolute;
  left:449px;
  top:1340px;
  width:46px;
  height:5px;
}
#u837 {
  position:absolute;
  left:2px;
  top:-6px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:61px;
  height:31px;
}
#u838 {
  position:absolute;
  left:449px;
  top:1167px;
  width:46px;
  height:5px;
}
#u839 {
  position:absolute;
  left:2px;
  top:-6px;
  width:42px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u840 {
  position:absolute;
  left:177px;
  top:918px;
  width:121px;
  height:24px;
  font-size:20px;
  color:#0000FF;
}
#u841 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u842 {
  position:absolute;
  left:460px;
  top:320px;
  width:404px;
  height:113px;
  font-size:18px;
}
#u843 {
  position:absolute;
  left:2px;
  top:24px;
  width:400px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:1507px;
  top:1778px;
  width:15px;
  height:17px;
}
#u845 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u846 {
  position:absolute;
  left:25px;
  top:62px;
  width:400px;
  height:711px;
}
#u847 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u848 {
  position:absolute;
  left:937px;
  top:62px;
  width:400px;
  height:711px;
}
#u849 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:711px;
}
#u850 {
  position:absolute;
  left:937px;
  top:938px;
  width:400px;
  height:711px;
}
#u851 {
  position:absolute;
  left:2px;
  top:348px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:937px;
  top:1737px;
  width:375px;
  height:667px;
}
#u853 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u854 {
  position:absolute;
  left:1085px;
  top:1763px;
  width:61px;
  height:17px;
  font-size:20px;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u856 {
  position:absolute;
  left:1271px;
  top:1757px;
  width:30px;
  height:30px;
}
#u857 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u858 {
  position:absolute;
  left:1175px;
  top:1817px;
  width:57px;
  height:17px;
}
#u859 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:1242px;
  top:1817px;
  width:57px;
  height:17px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u862 {
  position:absolute;
  left:994px;
  top:1979px;
  width:29px;
  height:17px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u864 {
  position:absolute;
  left:958px;
  top:1918px;
  width:336px;
  height:49px;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u866 {
  position:absolute;
  left:955px;
  top:1875px;
  width:342px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u867 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u868 {
  position:absolute;
  left:1254px;
  top:1979px;
  width:20px;
  height:18px;
}
#u869 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u870 {
  position:absolute;
  left:1194px;
  top:1979px;
  width:20px;
  height:18px;
}
#u871 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u872 {
  position:absolute;
  left:1218px;
  top:1978px;
  width:17px;
  height:17px;
  text-decoration:underline;
}
#u873 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u874 {
  position:absolute;
  left:1279px;
  top:1978px;
  width:17px;
  height:17px;
  text-decoration:underline;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u876 {
  position:absolute;
  left:953px;
  top:1968px;
  width:35px;
  height:35px;
}
#u877 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u878 {
  position:absolute;
  left:994px;
  top:2147px;
  width:29px;
  height:17px;
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u880 {
  position:absolute;
  left:958px;
  top:2086px;
  width:336px;
  height:49px;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u882 {
  position:absolute;
  left:955px;
  top:2043px;
  width:342px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u884 {
  position:absolute;
  left:1254px;
  top:2147px;
  width:20px;
  height:18px;
}
#u885 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u886 {
  position:absolute;
  left:1194px;
  top:2147px;
  width:20px;
  height:18px;
}
#u887 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u888 {
  position:absolute;
  left:1218px;
  top:2146px;
  width:17px;
  height:17px;
  text-decoration:underline;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u890 {
  position:absolute;
  left:1279px;
  top:2146px;
  width:17px;
  height:17px;
  text-decoration:underline;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u892 {
  position:absolute;
  left:953px;
  top:2136px;
  width:35px;
  height:35px;
}
#u893 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:999px;
  top:2299px;
  width:29px;
  height:17px;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:963px;
  top:2238px;
  width:336px;
  height:49px;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u898 {
  position:absolute;
  left:960px;
  top:2195px;
  width:342px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u900 {
  position:absolute;
  left:1259px;
  top:2299px;
  width:20px;
  height:18px;
}
#u901 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:18px;
}
#u902 {
  position:absolute;
  left:1199px;
  top:2299px;
  width:20px;
  height:18px;
}
#u903 {
  position:absolute;
  left:2px;
  top:1px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u904 {
  position:absolute;
  left:1223px;
  top:2298px;
  width:17px;
  height:17px;
  text-decoration:underline;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-decoration:underline;
}
#u906 {
  position:absolute;
  left:1284px;
  top:2298px;
  width:17px;
  height:17px;
  text-decoration:underline;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u908 {
  position:absolute;
  left:958px;
  top:2288px;
  width:35px;
  height:35px;
}
#u909 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u910 {
  position:absolute;
  left:1446px;
  top:1953px;
  width:300px;
  height:236px;
  font-size:20px;
  color:#0000FF;
}
#u911 {
  position:absolute;
  left:2px;
  top:22px;
  width:296px;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:236px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#0000FF;
}
#u912 {
  position:absolute;
  left:1451px;
  top:507px;
  width:300px;
  height:236px;
  font-size:20px;
  color:#0000FF;
}
#u913 {
  position:absolute;
  left:2px;
  top:46px;
  width:296px;
  word-wrap:break-word;
}
