body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:476px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:531px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3267 {
  position:absolute;
  left:101px;
  top:421px;
  width:375px;
  height:531px;
}
#u3268 {
  position:absolute;
  left:2px;
  top:258px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3269 {
  position:absolute;
  left:85px;
  top:73px;
  width:165px;
  height:93px;
}
#u3270 {
  position:absolute;
  left:2px;
  top:38px;
  width:161px;
  word-wrap:break-word;
}
#u3271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3271 {
  position:absolute;
  left:300px;
  top:73px;
  width:165px;
  height:93px;
}
#u3272 {
  position:absolute;
  left:2px;
  top:38px;
  width:161px;
  word-wrap:break-word;
}
#u3273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3273 {
  position:absolute;
  left:196px;
  top:247px;
  width:165px;
  height:93px;
}
#u3274 {
  position:absolute;
  left:2px;
  top:38px;
  width:161px;
  word-wrap:break-word;
}
