body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:654px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u650 {
  position:absolute;
  left:131px;
  top:779px;
  width:375px;
  height:654px;
}
#u651 {
  position:absolute;
  left:2px;
  top:319px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:632px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:131px;
  top:35px;
  width:375px;
  height:632px;
}
#u653 {
  position:absolute;
  left:2px;
  top:308px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:87px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 102, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u654 {
  position:absolute;
  left:178px;
  top:108px;
  width:62px;
  height:87px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u655 {
  position:absolute;
  left:2px;
  top:36px;
  width:58px;
  word-wrap:break-word;
}
#u656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u656 {
  position:absolute;
  left:148px;
  top:48px;
  width:26px;
  height:25px;
}
#u657 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u658 {
  position:absolute;
  left:252px;
  top:108px;
  width:62px;
  height:87px;
}
#u659 {
  position:absolute;
  left:2px;
  top:36px;
  width:58px;
  word-wrap:break-word;
}
#u660_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u660 {
  position:absolute;
  left:327px;
  top:108px;
  width:62px;
  height:87px;
}
#u661 {
  position:absolute;
  left:2px;
  top:36px;
  width:58px;
  word-wrap:break-word;
}
#u662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u662 {
  position:absolute;
  left:401px;
  top:108px;
  width:62px;
  height:87px;
}
#u663 {
  position:absolute;
  left:2px;
  top:36px;
  width:58px;
  word-wrap:break-word;
}
#u664_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u664 {
  position:absolute;
  left:505px;
  top:89px;
  width:1px;
  height:200px;
}
#u665 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:39px;
  background:inherit;
  background-color:rgba(51, 102, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u666 {
  position:absolute;
  left:191px;
  top:883px;
  width:71px;
  height:39px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u667 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  position:absolute;
  left:287px;
  top:883px;
  width:71px;
  height:39px;
}
#u669 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u670 {
  position:absolute;
  left:383px;
  top:883px;
  width:71px;
  height:39px;
}
#u671 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u672 {
  position:absolute;
  left:191px;
  top:935px;
  width:71px;
  height:39px;
}
#u673 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u674 {
  position:absolute;
  left:287px;
  top:935px;
  width:71px;
  height:39px;
}
#u675 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u676 {
  position:absolute;
  left:383px;
  top:935px;
  width:71px;
  height:39px;
}
#u677 {
  position:absolute;
  left:2px;
  top:12px;
  width:67px;
  word-wrap:break-word;
}
#u678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u678 {
  position:absolute;
  left:231px;
  top:565px;
  width:176px;
  height:39px;
}
#u679 {
  position:absolute;
  left:2px;
  top:12px;
  width:172px;
  word-wrap:break-word;
}
#u680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u680 {
  position:absolute;
  left:290px;
  top:68px;
  width:57px;
  height:17px;
}
#u681 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u682 {
  position:absolute;
  left:178px;
  top:215px;
  width:62px;
  height:87px;
}
#u683 {
  position:absolute;
  left:2px;
  top:36px;
  width:58px;
  word-wrap:break-word;
}
#u684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:87px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  position:absolute;
  left:252px;
  top:215px;
  width:62px;
  height:87px;
}
#u685 {
  position:absolute;
  left:2px;
  top:36px;
  width:58px;
  word-wrap:break-word;
}
#u686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u686 {
  position:absolute;
  left:172px;
  top:359px;
  width:300px;
  height:111px;
  font-size:28px;
}
#u687 {
  position:absolute;
  left:2px;
  top:40px;
  width:296px;
  word-wrap:break-word;
}
#u688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u688 {
  position:absolute;
  left:579px;
  top:382px;
  width:300px;
  height:66px;
  color:#FF0000;
}
#u689 {
  position:absolute;
  left:2px;
  top:17px;
  width:296px;
  word-wrap:break-word;
}
#u690_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u690 {
  position:absolute;
  left:148px;
  top:792px;
  width:26px;
  height:25px;
}
#u691 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u692 {
  position:absolute;
  left:168px;
  top:833px;
  width:43px;
  height:17px;
}
#u693 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u694 {
  position:absolute;
  left:166px;
  top:994px;
  width:57px;
  height:17px;
}
#u695 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u696_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:268px;
  height:10px;
}
#u696 {
  position:absolute;
  left:181px;
  top:1060px;
  width:263px;
  height:5px;
}
#u697 {
  position:absolute;
  left:2px;
  top:-6px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u698_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u698 {
  position:absolute;
  left:163px;
  top:1054px;
  width:9px;
  height:17px;
}
#u699 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:454px;
  top:1054px;
  width:25px;
  height:17px;
}
#u701 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u702 {
  position:absolute;
  left:219px;
  top:1041px;
  width:17px;
  height:17px;
}
#u703 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u704_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:129px;
  height:28px;
}
#u704p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:120px;
  height:6px;
}
#u704p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:6px;
}
#u704p001 {
  position:absolute;
  left:93px;
  top:-12px;
  width:28px;
  height:28px;
}
#u704p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:30px;
  height:30px;
}
#u704.compound {
  width:0px;
  height:0px;
}
#u704 {
  position:absolute;
  left:454px;
  top:415px;
  width:115px;
  height:4px;
}
#u705 {
  position:absolute;
  left:2px;
  top:-6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#000000;
}
#u706 {
  position:absolute;
  left:523px;
  top:1005px;
  width:300px;
  height:66px;
  font-size:16px;
  color:#000000;
}
#u707 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  word-wrap:break-word;
}
#u708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u708 {
  position:absolute;
  left:166px;
  top:1096px;
  width:57px;
  height:17px;
}
#u709 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u710 {
  position:absolute;
  left:163px;
  top:1141px;
  width:94px;
  height:39px;
  color:#FFFFFF;
}
#u711 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u712 {
  position:absolute;
  left:225px;
  top:1315px;
  width:176px;
  height:39px;
}
#u713 {
  position:absolute;
  left:2px;
  top:12px;
  width:172px;
  word-wrap:break-word;
}
#u714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u714 {
  position:absolute;
  left:163px;
  top:1215px;
  width:300px;
  height:70px;
  text-align:left;
}
#u715 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:72px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u716 {
  position:absolute;
  left:523px;
  top:1215px;
  width:300px;
  height:72px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u717 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:654px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  position:absolute;
  left:131px;
  top:1500px;
  width:375px;
  height:654px;
}
#u719 {
  position:absolute;
  left:2px;
  top:319px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  position:absolute;
  left:251px;
  top:1521px;
  width:149px;
  height:17px;
}
#u721 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:600px;
}
#u722 {
  position:absolute;
  left:132px;
  top:1552px;
  width:372px;
  height:600px;
}
#u723 {
  position:absolute;
  left:2px;
  top:292px;
  width:368px;
  visibility:hidden;
  word-wrap:break-word;
}
#u724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u724 {
  position:absolute;
  left:140px;
  top:1517px;
  width:26px;
  height:25px;
}
#u725 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:57px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u726 {
  position:absolute;
  left:546px;
  top:1499px;
  width:330px;
  height:57px;
  font-size:16px;
  text-align:left;
}
#u727 {
  position:absolute;
  left:2px;
  top:19px;
  width:326px;
  word-wrap:break-word;
}
#u728_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:150px;
  height:22px;
}
#u728p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:142px;
  height:2px;
}
#u728p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:144px;
  height:4px;
}
#u728p001 {
  position:absolute;
  left:123px;
  top:-10px;
  width:22px;
  height:22px;
}
#u728p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:22px;
  height:24px;
}
#u728.compound {
  width:0px;
  height:0px;
}
#u728 {
  position:absolute;
  left:397px;
  top:1527px;
  width:139px;
  height:2px;
}
#u729 {
  position:absolute;
  left:2px;
  top:-7px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:654px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u730 {
  position:absolute;
  left:129px;
  top:2283px;
  width:375px;
  height:654px;
}
#u731 {
  position:absolute;
  left:2px;
  top:319px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u732 {
  position:absolute;
  left:129px;
  top:2283px;
  width:375px;
  height:667px;
}
#u733 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u735_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:126px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u735 {
  position:absolute;
  left:155px;
  top:2355px;
  width:335px;
  height:126px;
}
#u736 {
  position:absolute;
  left:2px;
  top:55px;
  width:331px;
  visibility:hidden;
  word-wrap:break-word;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u737 {
  position:absolute;
  left:243px;
  top:2378px;
  width:141px;
  height:24px;
  font-size:20px;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u739_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u739 {
  position:absolute;
  left:197px;
  top:2412px;
  width:225px;
  height:17px;
}
#u740 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u741_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u741 {
  position:absolute;
  left:252px;
  top:2439px;
  width:107px;
  height:17px;
}
#u742 {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  white-space:nowrap;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u743 {
  position:absolute;
  left:326px;
  top:2883px;
  width:164px;
  height:54px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u744 {
  position:absolute;
  left:2px;
  top:18px;
  width:160px;
  word-wrap:break-word;
}
#u745_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:131px;
}
#u745p000 {
  position:absolute;
  left:-61px;
  top:56px;
  width:124px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u745p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:6px;
}
#u745p001 {
  position:absolute;
  left:-12px;
  top:99px;
  width:26px;
  height:26px;
}
#u745p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:28px;
  height:28px;
}
#u745.compound {
  width:0px;
  height:0px;
}
#u745 {
  position:absolute;
  left:413px;
  top:2164px;
  width:3px;
  height:119px;
}
#u746 {
  position:absolute;
  left:2px;
  top:52px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:159px;
}
#u747p000 {
  position:absolute;
  left:-74px;
  top:70px;
  width:152px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u747p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:6px;
}
#u747p001 {
  position:absolute;
  left:-12px;
  top:127px;
  width:26px;
  height:26px;
}
#u747p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:26px;
  height:28px;
}
#u747.compound {
  width:0px;
  height:0px;
}
#u747 {
  position:absolute;
  left:312px;
  top:1364px;
  width:3px;
  height:147px;
}
#u748 {
  position:absolute;
  left:2px;
  top:66px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u749 {
  position:absolute;
  left:290px;
  top:545px;
  width:80px;
  height:80px;
}
#u750 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751_img {
  position:absolute;
  left:-11px;
  top:-1px;
  width:25px;
  height:169px;
}
#u751p000 {
  position:absolute;
  left:-79px;
  top:75px;
  width:162px;
  height:6px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u751p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:6px;
}
#u751p001 {
  position:absolute;
  left:-12px;
  top:137px;
  width:26px;
  height:26px;
}
#u751p001_img {
  position:absolute;
  left:-1px;
  top:0px;
  width:28px;
  height:26px;
}
#u751.compound {
  width:0px;
  height:0px;
}
#u751 {
  position:absolute;
  left:327px;
  top:625px;
  width:3px;
  height:157px;
}
#u752 {
  position:absolute;
  left:2px;
  top:70px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u753 {
  position:absolute;
  left:278px;
  top:1293px;
  width:70px;
  height:70px;
}
#u754 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u755_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u755 {
  position:absolute;
  left:374px;
  top:2084px;
  width:80px;
  height:80px;
}
#u756 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
