body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:1094px;
}
#u165 {
  position:absolute;
  left:902px;
  top:16px;
  width:471px;
  height:1094px;
}
#u166 {
  position:absolute;
  left:2px;
  top:539px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u167p000 {
  position:absolute;
  left:-3px;
  top:-1px;
  width:110px;
  height:6px;
}
#u167p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:6px;
}
#u167p001 {
  position:absolute;
  left:83px;
  top:-12px;
  width:28px;
  height:28px;
}
#u167p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:30px;
}
#u167.compound {
  width:0px;
  height:0px;
}
#u167 {
  position:absolute;
  left:1285px;
  top:127px;
  width:105px;
  height:4px;
}
#u168 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u169 {
  position:absolute;
  left:1400px;
  top:103px;
  width:350px;
  height:53px;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u170 {
  position:absolute;
  left:2px;
  top:2px;
  width:346px;
  word-wrap:break-word;
}
#u171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u171 {
  position:absolute;
  left:1395px;
  top:209px;
  width:279px;
  height:45px;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u172 {
  position:absolute;
  left:2px;
  top:2px;
  width:275px;
  word-wrap:break-word;
}
#u173_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u173p000 {
  position:absolute;
  left:-3px;
  top:0px;
  width:110px;
  height:4px;
}
#u173p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:4px;
}
#u173p001 {
  position:absolute;
  left:83px;
  top:-12px;
  width:28px;
  height:28px;
}
#u173p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u173.compound {
  width:0px;
  height:0px;
}
#u173 {
  position:absolute;
  left:1285px;
  top:232px;
  width:105px;
  height:4px;
}
#u174 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u175 {
  position:absolute;
  left:1400px;
  top:721px;
  width:443px;
  height:50px;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u176 {
  position:absolute;
  left:2px;
  top:2px;
  width:439px;
  word-wrap:break-word;
}
#u177_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u177p000 {
  position:absolute;
  left:-3px;
  top:0px;
  width:110px;
  height:4px;
}
#u177p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:4px;
}
#u177p001 {
  position:absolute;
  left:83px;
  top:-12px;
  width:28px;
  height:28px;
}
#u177p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u177.compound {
  width:0px;
  height:0px;
}
#u177 {
  position:absolute;
  left:1285px;
  top:744px;
  width:105px;
  height:4px;
}
#u178 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u179_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u179p000 {
  position:absolute;
  left:-3px;
  top:-1px;
  width:110px;
  height:6px;
}
#u179p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:6px;
}
#u179p001 {
  position:absolute;
  left:83px;
  top:-12px;
  width:28px;
  height:28px;
}
#u179p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:30px;
}
#u179.compound {
  width:0px;
  height:0px;
}
#u179 {
  position:absolute;
  left:1285px;
  top:445px;
  width:105px;
  height:4px;
}
#u180 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:481px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u181 {
  position:absolute;
  left:1400px;
  top:422px;
  width:481px;
  height:50px;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u182 {
  position:absolute;
  left:2px;
  top:2px;
  width:477px;
  word-wrap:break-word;
}
#u183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:896px;
  height:795px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u183 {
  position:absolute;
  left:854px;
  top:1306px;
  width:896px;
  height:795px;
  font-size:28px;
}
#u184 {
  position:absolute;
  left:2px;
  top:2px;
  width:892px;
  word-wrap:break-word;
}
#u185_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u185p000 {
  position:absolute;
  left:-3px;
  top:-1px;
  width:110px;
  height:6px;
}
#u185p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:6px;
}
#u185p001 {
  position:absolute;
  left:83px;
  top:-12px;
  width:28px;
  height:28px;
}
#u185p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:30px;
}
#u185.compound {
  width:0px;
  height:0px;
}
#u185 {
  position:absolute;
  left:1285px;
  top:573px;
  width:105px;
  height:4px;
}
#u186 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u187 {
  position:absolute;
  left:1400px;
  top:550px;
  width:555px;
  height:50px;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u188 {
  position:absolute;
  left:2px;
  top:2px;
  width:551px;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:330px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u189 {
  position:absolute;
  left:1007px;
  top:2158px;
  width:590px;
  height:330px;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u190 {
  position:absolute;
  left:2px;
  top:45px;
  width:586px;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:443px;
  height:96px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u191 {
  position:absolute;
  left:1400px;
  top:847px;
  width:443px;
  height:96px;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u192 {
  position:absolute;
  left:2px;
  top:2px;
  width:439px;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u193p000 {
  position:absolute;
  left:-3px;
  top:0px;
  width:110px;
  height:4px;
}
#u193p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:4px;
}
#u193p001 {
  position:absolute;
  left:83px;
  top:-12px;
  width:28px;
  height:28px;
}
#u193p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u193.compound {
  width:0px;
  height:0px;
}
#u193 {
  position:absolute;
  left:1285px;
  top:870px;
  width:105px;
  height:4px;
}
#u194 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:555px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u195 {
  position:absolute;
  left:1400px;
  top:999px;
  width:555px;
  height:50px;
  font-size:28px;
  color:#0000FF;
  text-align:left;
}
#u196 {
  position:absolute;
  left:2px;
  top:2px;
  width:551px;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u197p000 {
  position:absolute;
  left:-3px;
  top:0px;
  width:110px;
  height:4px;
}
#u197p000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:4px;
}
#u197p001 {
  position:absolute;
  left:83px;
  top:-12px;
  width:28px;
  height:28px;
}
#u197p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u197.compound {
  width:0px;
  height:0px;
}
#u197 {
  position:absolute;
  left:1295px;
  top:1022px;
  width:105px;
  height:4px;
}
#u198 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u199 {
  position:absolute;
  left:1101px;
  top:2670px;
  width:375px;
  height:667px;
}
#u200 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:197px;
}
#u201 {
  position:absolute;
  left:1286px;
  top:2488px;
  width:5px;
  height:182px;
}
#u202 {
  position:absolute;
  left:2px;
  top:83px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:471px;
  height:847px;
}
#u203 {
  position:absolute;
  left:50px;
  top:16px;
  width:471px;
  height:847px;
}
#u204 {
  position:absolute;
  left:2px;
  top:416px;
  width:467px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#0000FF;
}
#u205 {
  position:absolute;
  left:575px;
  top:157px;
  width:317px;
  height:136px;
  font-size:28px;
  color:#0000FF;
}
#u206 {
  position:absolute;
  left:2px;
  top:2px;
  width:313px;
  word-wrap:break-word;
}
#u207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:535px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u207 {
  position:absolute;
  left:1008px;
  top:1110px;
  width:535px;
  height:110px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FF0000;
}
#u208 {
  position:absolute;
  left:2px;
  top:39px;
  width:531px;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:-2px;
  top:-12px;
  width:119px;
  height:28px;
}
#u209p000 {
  position:absolute;
  left:-3px;
  top:-1px;
  width:110px;
  height:6px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u209p000_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:110px;
  height:8px;
}
#u209p001 {
  position:absolute;
  left:69px;
  top:19px;
  width:28px;
  height:28px;
}
#u209p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:28px;
  height:30px;
}
#u209.compound {
  width:0px;
  height:0px;
}
#u209 {
  position:absolute;
  left:501px;
  top:106px;
  width:105px;
  height:4px;
}
#u210 {
  position:absolute;
  left:2px;
  top:-6px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:413px;
  height:31px;
}
#u211 {
  position:absolute;
  left:504px;
  top:64px;
  width:398px;
  height:5px;
}
#u212 {
  position:absolute;
  left:2px;
  top:-6px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
